<div class="row">
  <div class="col-md-6">
    <h2>Edit Post</h2>

    <form class="form up-post-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input
          class="form-input"
          type="text"
          id="post-title"
          value="{{title}}"
        />
      </div>
      <div class="form-group">
        <textarea
          class="form-input"
          type="textarea"
          id="post-body"
          placeholder="Type post here"
        >{{content}}</textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </form>
    <form class="form del-post-form">
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Delete</button>
      </div>
    </form>
  </div>
</div>

<div id="post-id" hidden>{{id}}</div>

<script src="../js/modpost.js"></script>