<div class="row">
  <div class="col-md-6">
    <h2>New Post</h2>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group">
        <textarea class="form-input" type="textarea" id="post-body" placeholder="Type post here"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/newpost.js"></script>